<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Bills</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th> Name </th>
        <th> Payment Value </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bill : ${bills}">
        <td><span th:text="${bill.name}"> Name </span></td>
        <td><span th:text="${bill.paymentValue}"> Payment Value </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>